# Ignore a folder named "logs"
logs/

# Ignore Python cache files
__pycache__/

# Ignore environment folders
env/
venv/
.venv/
.conda/
.vscode/

# Ignore temporary or system files
*.log
.DS_Store
*.png 
# Ignore the analysis 
analysis/ 
data/
pre_generate_data/
